<mat-nav-list class="sidenav-list">
  <a mat-list-item routerLink="/signin" (click)="matListItemClicked_closeNavbar()">
    <mat-icon>input</mat-icon>
    <span>Sign-In</span>
  </a>
  <a mat-list-item routerLink="/signup" (click)="matListItemClicked_closeNavbar()">
    <mat-icon>account_circle</mat-icon>
    <span>Sign-Up</span>
  </a>
  <a mat-list-item routerLink="/accommodation" (click)="matListItemClicked_closeNavbar()">
    <mat-icon>hotel</mat-icon>
    <span>Accommodations</span>
  </a>
  <a mat-list-item routerLink="/offers" (click)="matListItemClicked_closeNavbar()">
    <mat-icon>loyalty</mat-icon>
    <span>Offers</span>
  </a>
</mat-nav-list>
